header {
    font-family: Garamond, serif;

    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;

    background-color: #ffffff;
    color: #4f4f4f;

    margin: 0;
    padding: 25px 0;
    height: 40px;
    
}

header h1 a:hover {
    color: #3f58ff;
}

header h1 a {
    position: absolute; 
    left: 30px; 
    top: 50%;
    transform: translateY(-50%);
    color: #4f4f4f;
    padding-left: 30px;
    font-size: 1.8em;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 30px;   
    font-size: 1.5em;
}

nav a {
    color: #4f4f4f;
    text-decoration: none;
}

nav a:hover {
    color: #3f58ff;
}


h2 {
    color: #4f4f4f;
    display: flex;
    justify-content: center;
}


p {
    display: flex;
    color: #4f4f4f;
    background-color: #e3e3e3;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;  
    position: relative;
}


@media (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 25px 0;
    }

    header h1 {
        position: static;
    }

    nav {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        padding-top: 40px;
        /* fix later */
    }
}
