/* General Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  /* Piano Container */
  .piano {
    display: flex;
    position: relative;
    width: 750px; /* no. of white keys * 50*/
    height: 200px;  
    justify-content: flex-start;
    align-items: flex-end;
    }
  
  /* White Keys */
  .key.white {
    width: 50px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    transition: background-color 0.2s;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
  }
  
  .key.white:hover {
    background-color: #3f58ff;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.5);
  }
  
  /* Black Keys */ 
  .key.black {
    width: 30px;
    height: 60%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: background-color 0.2s;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
  }
  
  .key.black:hover {
    background-color: #3f58ff;;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.5);
  }
  
  /* Positioning Black Keys */
.key.white:nth-child(1) + .key.black {
    left: 35px;
  }
  
  .key.white:nth-child(3) + .key.black {
    left: 85px;
  }
  
  .key.white:nth-child(6) + .key.black {
    left: 185px;
  }
  
  .key.white:nth-child(8) + .key.black {
    left: 235px;
  }
  
  .key.white:nth-child(10) + .key.black {
    left: 285px;
  }
  
  .key.white:nth-child(13) + .key.black {
    left: 385px;
  }
  
  .key.white:nth-child(15) + .key.black {
    left: 435px;
  }
  
  .key.white:nth-child(18) + .key.black {
    left: 535px;
  }
  
  .key.white:nth-child(20) + .key.black {
    left: 585px;
  }
  
  .key.white:nth-child(22) + .key.black {
    left: 635px;
  }



  
  
  /* Labels */
  .label {
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .key.black .label {
    color: #fff;
    font-size: 10px;
  }

header {
    font-family: Garamond, serif;

    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;

    background-color: #ffffff;
    color: #4f4f4f;

    margin: 0;
    padding: 25px 0;
    height: 40px;
    position: relative;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px; 
}

.logo {
    width: 65px; 
    height: auto;
    margin: 20px; 
}

header h1 a {
    color: #4f4f4f;
    font-size: 1.7em;
    text-decoration: none;
}

header h1 a:hover {
    color: #3f58ff;
}

nav {
    display: flex;
    gap: 30px;   
    font-size: 1.7em;
}

nav a {
    color: #4f4f4f;
    text-decoration: none;
}

nav a:hover {
    color: #3f58ff;
}


h2 {
    color: #4f4f4f;
    display: flex;
    justify-content: center;
}


p {
    margin: auto;
    display: block;
    color: #4f4f4f;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;  
    position: relative;

    
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    
}

img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}


@media (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 25px 0px 0px 0px;
    }

    header h1 a {
        color: #4f4f4f;
        font-size: 1.2em;
        text-decoration: none;
    }

    header h1 {
        position: static;
    }

    nav {
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }
}
